body {
  background-color: #eee;
  margin: 0 auto;
  cursor: default;
}

ul {
  list-style: none;
  padding: 0;
}

#container {
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fadeable {
  transition: opacity .25s linear;
}

/* TODO: while this works, it is also overriding the 250ms splash screen fade out plan. Make separate keyframe animation for on hover for the bio-img elements.*/
.slow-fadeable {
  transition: opacity .75s ease-in-out;
}

#main-menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
}

.splash-wrapper {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 30pt;
  opacity: 0;
  pointer-events: none;
}

.splash-main-window {

}

#exit-img-button {
  margin: 10px 10px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;

}

.img-button {
  padding: 30px;
  margin: 30px 0 30px 0;
}

.img-button:hover {
  animation: colorShiftImg 3s ease-in-out infinite;
}

#about-splash {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-pics-wrapper {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  bottom: 10%;
}

.bio-pics-wrapper ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

}

.bio-pic {
  padding: 15px;
}

.partial-fade {
  position: absolute;
  opacity: .75;
}

.passive-img {
  position: absolute;
  z-index: -1;
}

.active-img:hover {
  opacity: 1;
}

.bundle-background-img {
  opacity: 0;
}

.active-img {
  opacity: 0;
}

#play-button {}
#how-to-button {}
#about-button {}

@keyframes colorShift {
  0%   { color: #FF1111; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1111, 0 0 70px #FF1111, 0 0 80px #FF1111, 0 0 100px #FF1111, 0 0 150px #FF1111; }
  10%  { color: #FFFF15; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FFFF15, 0 0 70px #FFFF15, 0 0 80px #FFFF15, 0 0 100px #FFFF15, 0 0 150px #FFFF15; }
  30%  { color: #1177ff; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #1177ff, 0 0 70px #1177ff, 0 0 80px #1177ff, 0 0 100px #1177ff, 0 0 150px #1177ff; }
  50%  { color: #FF9922; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF9922, 0 0 70px #FF9922, 0 0 80px #FF9922, 0 0 100px #FF9922, 0 0 150px #FF9922; }
  70%  { color: #22ff22; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #22ff22, 0 0 70px #22ff22, 0 0 80px #22ff22, 0 0 100px #22ff22, 0 0 150px #22ff22; }
  90%  { color: #11FFFF; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #11FFFF, 0 0 70px #11FFFF, 0 0 80px #11FFFF, 0 0 100px #11FFFF, 0 0 150px #11FFFF; }
  100% { color: #FF1111; text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1111, 0 0 70px #FF1111, 0 0 80px #FF1111, 0 0 100px #FF1111, 0 0 150px #FF1111; }
}

@keyframes colorPulseImg {
  0%   { filter: drop-shadow(0px 0px 0px #FF1111); }
  20%  { filter: drop-shadow(0px 0px 0px #FF1111); }
  25%  { filter: drop-shadow(0px 0px 60px #FF1111); }
  30%   { filter: drop-shadow(0px 0px 0px #FF1111); }
  40%  { filter: drop-shadow(0px 0px 0px #1177FF); }
  45%  { filter: drop-shadow(0px 0px 60px #1177FF); }
  50%   { filter: drop-shadow(0px 0px 0px #FF1111); }
  60%  { filter: drop-shadow(0px 0px 0px #BB6600); }
  65%  { filter: drop-shadow(0px 0px 60px #FF9922); }
  70%   { filter: drop-shadow(0px 0px 0px #FF1111); }
  80%  { filter: drop-shadow(0px 0px 0px #22FF22); }
  85%  { filter: drop-shadow(0px 0px 60px #22FF22); }
  90%   { filter: drop-shadow(0px 0px 0px #FF1111); }
}

@keyframes colorShiftImg {
  0%   { filter: drop-shadow(0px 0px 0px #FF1111); }
  20%  { filter: drop-shadow(0px 0px 60px #FF1111); }
  30%  { filter: drop-shadow(0px 0px 60px #1177FF); }
  40%  { filter: drop-shadow(0px 0px 60px #1177FF); }
  50%  { filter: drop-shadow(0px 0px 60px #FF9922); }
  60%  { filter: drop-shadow(0px 0px 60px #FF9922); }
  70%  { filter: drop-shadow(0px 0px 60px #22FF22); }
  80%  { filter: drop-shadow(0px 0px 60px #22FF22); }
  90%  { filter: drop-shadow(0px 0px 60px #11FFFF); }
  100%  { filter: drop-shadow(0px 0px 60px #11FFFF); }
}

.shadowfilter {
	-webkit-filter: drop-shadow(0px 0px 0px rgba(255,255,255,0.80));
	-webkit-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;

}.shadowfilter:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}
